services:
  - type: web
    name: study-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
      - key: ALLOWED_GROUP_ID
        sync: false
      - key: ADMIN_USER_ID
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: 10000
    healthCheckPath: /health
    autoDeploy: true
